<div id="manager-page">
  <header class="manager-header">
    <section class="search-box">
      <div class="search-input-wrapper">
	<img src="assets/loupe.svg" alt="" class="search-icon"/>
        <input type="text" id="search" placeholder="Search..." />
      </div>
      
      <button class="clear-search-btn" id="clear-search-entry">
	<img src="assets/reload.svg" alt=""/>
      </button>
    </section>
    
    <section class="btns-box">
      <button id="add-btn">
	<img src="assets/plus-mini.svg" alt="" />
      </button>
      <button id="exit-btn">
	<img src="assets/exit.svg" alt="" />
      </button>
    </section>
  </header>
  
  <main class="manager-content">
    <div class="row-labels-text">
      <span class="label-email">Service</span>
      <span class="label-email">Username</span>
      <span class="label-email-">Email</span>
      <span class="label-email">Password</span>
      <span class="label-email">Actions</span>
    </div>
    <section id="rows-container" class="rows-container"></section>
  </main>
</div>

<div id="manager-dialogs-container"></div>
