@font-face {
    font-family: "Adwaita Sans";
    src: url("/assets/fonts/AdwaitaSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Adwaita Sans";
    src: url("/assets/fonts/AdwaitaSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
