html, body {
    font-family:
        "Adwaita Sans",
        "Cantarell",
        system-ui,
        -apple-system,
        sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 999;
}

.hidden {
    display: none;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 14px;
    z-index: 1000;
}
