<div class="row">
  <div class="row-labels">
    <span class="row-service">Service</span>
    <span class="row-user">User</span>
    <span class="row-email">Email</span>
    <span class="row-pass">Password</span>
  </div>

  <div class="row-actions">
    <button class="show-btn">Click</button>

    <div class="popover-container">
      <button class="deploy-btn">:</button>
      <div class="popover hidden">
        <span class="copy-opt">Copy</span>
        <span class="edit-opt">Edit</span>
        <span class="delete-opt">Delete</span>
      </div>
    </div>
  </div>
</div>
