.dialog-form {
    width: 480px;
    max-width: 90%;
    background: #fff;
    padding: 28px 32px 28px;
    box-shadow:
        8px 8px 24px rgba(0, 0, 0, 0.18);
    
}

.dialog-form > div:first-child {
    font-size: 22px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

.dialog-form span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #222;
    text-align: left;
}

.dialog-form input {
    width: 100%;
    height: 42px;
    padding: 0 8px;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    padding-left: 12px;
}

.dialog-form input:focus {
    border-color: #333;
}

.dialog-form .home-open-content,
.dialog-form .home-create-content,
.dialog-form .row-entries-content {
    display: grid;
    gap: 16px;
    margin-bottom: 22px;
}

.dialog-form button {
    height: 45px;
    padding: 0 24px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
}

.dialog-form .accept-open-btn,
.dialog-form .accept-create-btn,
.dialog-form .forms-accept-btn {
    background: #222;
    border: #222;
    color: #fff;
    transition: opacity 0.15s ease;
}

.dialog-form .accept-open-btn:disabled,
.dialog-form .accept-create-btn:disabled,
.dialog-form .forms-accept-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
} 

.dialog-form button[class*="cancel"] {
    background: transparent;
    color: #222;
    border: 1px solid #222;
}

.dialog-form .confirm-open-buttons,
.dialog-form .confirm-create-buttons,
.dialog-form .forms-confirm-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
}

.dialog-form .hidden {
    display: none;
}

.dialog-form span[class*="error"] {
    color: #C0392B;
    font-size: 12px;
    margin-top: 4px;
}


/**/

.input-wrapper {
    position: relative;
    width: 100%;
}

.dialog-form input[type="password"] {
    width: 100%;
    padding-right: 52px;
    box-sizing: border-box;
}

.dialog-form button.toggle-password,
.dialog-form button.toggle-passkey,
.dialog-form button.toggle-passkey-confirm,
.dialog-form button.toggle-confirm {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    width: 28px;
    height: 28px;

    border-radius: 50%;
    border: none;
    background: #FFF;

    font-size: 11px;
    line-height: 1;

    color: #AAA;
    padding: 0;
    margin: 0;

    cursor: pointer;
}

.dialog-form button[class^="toggle"] img {
    width: 22px;
    height: 22px;
    color: #AAA;
    pointer-events: none;
}


.file-selection-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.file-path {
    font-size: 14px;
    color: #222;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.dialog-form .btn-select-file {
    height: 35px;
    padding: 0 24px;
    border-radius: 2px;
    background: #222;
    border: #222;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.15s ease;
}
