<div id="overlay" class="overlay hidden"></div>

<div class="notif-dialog dialog dialog-info hidden" id="notif-dialog">
  <div class="notif-dialog-title">Title</div>
  <div class="notif-dialog-text">Something happened</div>
  <button class="notif-ok-btn">OK</button>
</div>

<div class="confirm-dialog dialog dialog-info hidden" id="confirm-dialog">
  <div class="confirm-dialog-title">Confirm</div>
  <div class="confirm-dialog-text">Are you sure?</div>
  <div class="confirm-buttons">
    <button class="confirm-cancel-btn">Cancel</button>
    <button class="confirm-accept-btn">Accept</button>
  </div>
</div>
